<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <style media="screen">
      *{
        margin: 0;
        font-family: 'Fira Sans Condensed', sans-serif;
      }

      body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h1{
        width:100%;
        text-align: center;
        font-size: 10em;
        font-weight: bold;
      }

      h2{
        width: 100%;
        text-align: center;
        margin-top: 2em;
      }
    </style>

    <title>ERROR!!!</title>
  </head>

  <body>
    <header>
      <h1>Oops!</h1>
      <h2>Something went wrong</h2>
    </header>
  </body>

</html>
